<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>

<div class="container" *ngIf="service.portBAlert" style="margin-top: 20px">
  <div #alert class="alert alert-success alert-dismissible show" role="alert">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      style="margin-top: 4px"
      (click)="service.closeAlert()"
    ></button>
    {{ service.mainTicker }} bought successfully
  </div>
</div>

<div class="container" *ngIf="service.portSAlert" style="margin-top: 20px">
  <div #alert class="alert alert-danger alert-dismissible show" role="alert">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      style="margin-top: 4px"
      (click)="service.closeAlert()"
    ></button>
    {{ service.mainTicker }} sold successfully
  </div>
</div>

<div
  style="
    display: flex;
    min-height: calc(100vh - 62px);
    flex-direction: column;
    justify-content: space-between;
  "
>
  <div class="container" style="margin-top: 32px">
    <h4
      style="
        padding-top: 6px;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
      "
    >
      My Portfolio
    </h4>

    <h3
      style="
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 14px;
      "
      *ngIf="!service.portSpin"
    >
      Money in Wallet: ${{ service.money | number : ".2-2" }}
    </h3>

    <div
      class="alert alert-warning"
      role="alert"
      style="text-align: center"
      *ngIf="service.portBool"
    >
      Currently you don't have any stock.
    </div>

    <div
      class="container d-flex justify-content-center"
      *ngIf="service.portSpin"
    >
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
    <div *ngIf="!service.portSpin">
      <div *ngFor="let item of service.portfolioItems">
        <mat-card style="border-radius: 4px">
          <mat-card-title-group
            (click)="getTicker(item.ticker)"
            style="
              background-color: rgba(237, 237, 237, 1);
              padding-left: 6px;
              padding-right: 4px;
              padding-top: 4px;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              border-bottom: 1px solid #d6d6d6;
            "
            ><mat-card-title style="padding-right: 4px; font-size: 22px"
              >{{ item.ticker }} </mat-card-title
            ><mat-card-subtitle>{{ item.name }}</mat-card-subtitle>
          </mat-card-title-group>
          <div class="content">
            <div class="row d-flex">
              <div class="col-xl-6 col-md-6 col-sm-6 justify-content-start">
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Quantiy:</div>
                  <div class="col d-flex justify-content-end">
                    {{ item.quantity }}
                  </div>
                </div>
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Avg. Cost / Share:</div>
                  <div class="col d-flex justify-content-end">
                    {{ item.avgCost | number : ".2-2" }}
                  </div>
                </div>
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Total Cost:</div>
                  <div class="col d-flex justify-content-end">
                    {{ item.buyingCost | number : ".2-2" }}
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-md-6 col-sm-6 justify-content-start">
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Change:</div>

                  <div
                    class="col d-flex justify-content-end"
                    [ngStyle]="{
                      color:
                        item.stockPricing - item.buyingCost / item.quantity >= 0
                          ? '#018730'
                          : 'red'
                    }"
                  >
                    <i
                      style="display: inline; padding: 0px"
                      class="{{
                        item.stockPricing - item.buyingCost / item.quantity >= 0
                          ? 'bi bi-caret-up-fill'
                          : 'bi bi-caret-down-fill'
                      }}"
                    ></i>
                    {{
                      item.stockPricing - item.buyingCost / item.quantity
                        | number : ".2-2"
                    }}
                  </div>
                </div>
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Current Price:</div>
                  <div
                    class="col d-flex justify-content-end"
                    [ngStyle]="{
                      color:
                        item.stockPricing - item.buyingCost / item.quantity >= 0
                          ? '#018730'
                          : 'red'
                    }"
                  >
                    {{ item.stockPricing | number : ".2-2" }}
                  </div>
                </div>
                <div class="row" style="padding-right: 6px; padding-left: 6px">
                  <div class="col">Market Value:</div>
                  <div
                    class="col d-flex justify-content-end"
                    [ngStyle]="{
                      color:
                        item.stockPricing - item.buyingCost / item.quantity >= 0
                          ? '#018730'
                          : 'red'
                    }"
                  >
                    {{ item.quantity * item.stockPricing | number : ".2-2" }}
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row"
              style="
                margin-top: 10px;
                background-color: rgba(237, 237, 237, 1);
                padding: 6px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: 1px solid #d6d6d6;
              "
            >
              <div class="col">
                <button
                  class="btn-primary btn-outline-primary btn-sm"
                  style="background-color: #1a4ed0"
                  (click)="service.portBuy('0ms', '0ms', item)"
                >
                  Buy
                </button>
                <button
                  class="btn-danger btn-outline-danger btn-sm"
                  style="background-color: #e60909"
                  (click)="service.sellStock('0ms', '0ms', item, false)"
                >
                  Sell
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <footer
    class="text-center p-3 mt-auto"
    style="
      background-color: #d3d3d3;
      height: 40px;
      width: 100%;
      font-size: 12px;
      color: black;
      font-weight: 600;
      padding: 0px;
      margin: 0px;
    "
  >
    Powered by
    <a
      href="https://finnhub.io/"
      target="_blank"
      style="text-decoration: underline; font-size: 12px"
      >Finnhub.io</a
    >
  </footer>
</div>
