footer {
  background-color: #d3d3d3;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  flex-basis: auto;
  font-size: 12px;
  color: black;
}

.footerText {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  top: 25%;
}
a {
  text-decoration: underline;
}
.bg-dark {
  background-color: #d3d3d3;
}
